.slider__modal {
  width: 30rem;
  height: 37rem;
  position: absolute;
  border-radius: 1rem;
  top: 15rem;
  left: 10rem;
  background-color: #000;
  z-index: 100;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 2rem 3rem;
  transition: animation ease-in-out 0.5s;
  animation: slidedInModal 1 0.5s;
  display: none;

  @media only screen and (max-width: $small) {
    width: 36rem;
    height: 42rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation: none;
    z-index: 19999;
  }
  @media only screen and (max-width: $smaller) {
    width: 36rem;
    height: 40rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation: none;
    z-index: 19999;
  }

  &--wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &--heading {
    font-size: $heading-font--size + 0.5;
    @media only screen and (max-width: $small) {
      font-size: 2.4rem;
      margin-bottom: 1rem;
    }
    @media only screen and (max-width: $smaller) {
      font-size: 2.2rem;
      margin-bottom: 1rem;
    }

    &::after {
      content: "";
      display: block;
      background-color: $primaryColor-2;
      width: 3rem;
      height: 0.1rem;
      margin-bottom: 1.6rem;
    }
  }

  &--label {
    width: 24rem;
    font-size: 1.27rem;
    font-family: $primaryFont;
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: column;
    @media only screen and (max-width: $small) {
      width: 100%;
      font-size: 1.85rem;
    }
    @media only screen and (max-width: $smaller) {
      width: 100%;
      font-size: 1.7rem;
    }
  }
  &--input {
    height: 2.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.1rem;
    border: none;
    margin-top: 0.2rem;
    @media only screen and (max-width: $small) {
      height: 3rem;
      margin-bottom: 1.5rem;
    }
    @media only screen and (max-width: $smaller) {
      height: 2.9rem;
      margin-bottom: 1.2rem;
    }
    &:active,
    &:focus {
      outline-color: $primaryColor-2;
    }
  }
  &--submit {
    height: 2.9rem;
    border: none;
    color: #fff;
    background-color: $primaryColor-2;
    border-radius: 0.2rem;
    cursor: pointer;
    @media only screen and (max-width: $small) {
      height: 3rem;
    }
    @media only screen and (max-width: $smaller) {
      height: 2.9rem;
    }
  }
}
.showModal {
  display: flex;
}
.remove__icon {
  fill: #fff;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  @media only screen and (max-width: $small) {
    width: 2.9rem;
    height: 2.9rem;
  }
  @media only screen and (max-width: $smaller) {
    width: 2.7rem;
    height: 2.7rem;
  }
}

@keyframes slidedInModal {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
