/*
////////////// Font families/////////////
*/
$primaryFont: "Inter", sans-serif;
$secondaryFont: "Poppins", sans-serif;
$paragraph-font--size: 1.51rem;
$heading-font--size: 1.55rem;

/*
////////////// Color Scheme/////////////
*/
/************ Primary colors ****************/
$primaryColor-1: #e300ffff;
$primaryColor-2: #ffc000ff;
$primaryColor-3: #0bb3eff4;

/************ Secondary colors ****************/
$secondaryColor-1: #f5f5f5;
$secondaryColor-2: #ededed;
$secondaryColor-3: #000000;
$secondaryColor-4: rgba(0, 0, 0, 0.9);

/************ Max Length ****************/

/*
////////////// @Mixins /////////////
*/

@mixin sectionHeadings {
  font-size: 1.9rem;
  text-align: center;
  margin: 7rem auto;
  width: fit-content;
  font-family: "Poppins", sans-serif;

  &::after {
    content: "";
    display: block;
    clear: both;
    width: 4rem;
    height: 0.6rem;
    border-radius: 2rem;
    background-color: #9fa1a1;
  }
}

@mixin footerHeadings {
  &::after {
    content: "";
    display: block;
    clear: both;
    width: 5.2rem;
    height: 0.1rem;
    border-radius: 2rem;
    margin-top: 0.3rem;
    background-color: $primaryColor-2;
  }
}
@mixin sectionSubheading {
  font-size: $heading-font--size;
  margin-bottom: 1.3rem;
}

@mixin contactInputSize {
  border-radius: 0.5rem;
  padding: 0.6rem 0;
  border: none;
  outline: none;
}

/*
////////////// Keyframes for navbar /////////////
*/

@keyframes slideToRight {
  0% {
    width: 0;
  }
  50% {
    width: 90%;
  }
  90% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}

@keyframes slideInNav {
  0% {
    transform: translateX(70rem);
  }
  100% {
    transform: translateY(0);
  }
}
